@model FT.Lib.Data.Models.Filtro.FiltroInventario
<div class="card-body" style="margin-top:10px;">
    @using (Html.BeginForm("Obtener", "Inventario", FormMethod.Post))
    {
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(t => t.Nombre, "Nombre", new { @class = "text-label" })
                        <div class="input-group input-group-merge">
                            @Html.TextBoxFor(t => t.Nombre, new { @class = "form-control form-control-prepended" })
                            @Html.ValidationMessageFor(t => t.Nombre)
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(t => t.Nombre, "Tipo", new { @class = "text-label" })
                        <div class="input-group input-group-merge">
                            @Html.TextBoxFor(t => t.Nombre, new { @class = "form-control form-control-prepended" })
                            @Html.ValidationMessageFor(t => t.Nombre)
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
